*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$border-wht: rgba(255,255,255,.2);
$bg-wht: rgba(255,255,255,.5);
@mixin flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background: #000;
  color: white;
  font-family: helvetica;
}
.picker {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 50%;
  height: 50%;
  border: 1px solid $border-wht;
  border-radius: 1rem;
  background: $bg-wht;
}
.navbar {
  border-bottom: 1px solid $border-wht;
  padding: .5rem;
  @include flex-center;
  h1 {
    font-size: 2.5rem;
    margin-right: 2rem;
    font-family: arial;
    text-transform: uppercase;
    span {
      color: rgb(233, 159, 1);
      font-weight: bolder;

    }
  }
}
.btn {
  padding: .5rem;
  margin: .2rem;
  border: 1px solid $border-wht;
  border-radius: .5rem;
  background: rgba(255,255,255,.1);
  color: white;
  cursor: pointer;
  box-shadow: inset 0 0 3px 0 $border-wht;
  transition: background .5s ease;
  &:hover {
    background: $border-wht;
    color: rgb(233, 159, 1);
  }
}
.card {
  width: 100%;
  height: 100%;
  display: flex;
  background: rgba(0, 0 , 0, .1);
  flex-direction: column;
  h1 {
    text-align: center;
    margin-top: 1rem;
  }
}
//ranges box
.ranges {
  padding: .5rem;
  @include flex-center;
  flex-direction: column;
}
input[type=range] {
  -webkit-appearance: none;
  background: transparent;
  width: 50%;
  // overflow: hidden;
  &::-webkit-slider-runnable-track {
    margin: .5rem;
    display: block;
    border: 1px solid $bg-wht;
    box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    cursor: pointer;
    height: 1rem;

  }
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 100%;
    width: 10px;
    background: rgba(0, 0, 0, 0.3);
    border: 2px solid rgba(0,0,0,.1);
    border-radius: 10px;
   
  }
  &::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
}
.range-box {
  @include flex-center;
  width: 100%;
}
.label {
  color: white;
  width: 100px;
  height: 20px;
  background: rgba(0, 0 , 0, .1);
  text-align: center;
  border-radius: 10px;
}

// .rgblabel {
//   // display: block;
  
// }

// input[type=range]::-webkit-slider-runnable-track {
//   margin: .2rem;
//   border-radius: 5px;
//   cursor: pointer;
// }
#rangeRed::-webkit-slider-runnable-track {
  background: red;
  // border-radius: 5px;
}
#rangeGreen::-webkit-slider-runnable-track{
  background: green;
}
#rangeBlue::-webkit-slider-runnable-track {
  background: blue;
}
#rangeAlpha::-webkit-slider-runnable-track {
  background: linear-gradient(to right, transparent, #888);
}
#rangeHue::-webkit-slider-runnable-track {
  background-image: linear-gradient(to right,rgb(255,0,0), rgb(255,255,0), rgb(0,255,0),rgb(0,255,255),rgb(0,0,255),rgb(255,0,255),rgb(255,0,0));
}
#rangeLght::-webkit-slider-runnable-track {
  background-image: linear-gradient(to right, black, white);
}
#rangeHSLAlpha::-webkit-slider-runnable-track {
  background-image: linear-gradient(to right, transparent, white);
}
.output {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
  width: 90%;
  
}
.color-output-box {
  width: 100px;
  height: 100px;
  background-color: #888;
  border: 1px solid $bg-wht;
  border-radius: 1rem;
}
.color-output {
  color: white;
  text-align: center;
  font-size: 1rem;
  width: 50%;
  background: rgba(0, 0 , 0, .1);
  padding: 1rem;
}